@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(30, 130, 130);
}
.heading{
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
  font-family: "Playwrite CU", cursive;
  margin-bottom: 40px;
}


@media (max-width:800px){
  .heading{
    margin: 10px 0;
    font-size: 20px;
  }
}


